@model IEnumerable<IT_Airlines.Models.Entities.Luggage>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/css_Luggages/Luggages_index.css")

<div id="content">
    <div class="row mb-2">
        <div class="col-4"></div>
        <div class="col-4">
            @Html.ActionLink("Add new luggage", "Create", "Luggages", null, new { @class = "btn btn-block btn-danger" })
        </div>
        <div class="col-4"></div>
    </div>
    <div id="tabelaDiv" class="row text-danger text-center">
        <div class="col-sm-10 ml-auto mr-auto text-center">
            <h1 class="display-4">List of all types of luggages</h1>
        </div>
    </div>
    <div id="tabelaDiv" class="row text-danger text-center">
        <div class="col-sm-3">
            <b> @Html.DisplayNameFor(model => model.MaximumWeight) </b>(kg)
        </div>
        <div class="col-sm-3">
            <b>@Html.DisplayNameFor(model => model.Price) </b> ($)
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="flightRow text-center" id="row-@item.Id">
            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.MaximumWeight)kg
                </div>
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.Price)$
                </div>

                <div class="col-sm-6 text-center">

                    <div class="row">
                        <div class="col-sm-0 col-md-1"></div>
                        <div class="col-sm-12 col-md-6 mr-auto ml-auto">
                            <div class="btn-group mr-2 btn-block" role="group" aria-label="First group">
                                @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                                {
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                                }
                                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>