@model IT_Airlines.Models.Entities.Airplane

@{
    ViewBag.Title = "Details";
}

<style>
    body {
        background: url("../../Img/log-sign-in.jpg") no-repeat center center fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #content {
        width: 100%;
        background-color: white;
        opacity: 0.9;
        border-radius: 5px;
        padding: 5%;
    }

    #detali .col-sm-4 {
        border-right: 1px gray solid;
    }

    #detali .row {
        border-bottom: 1px red solid;
        padding: 10px;
    }

    #detali > div:nth-child(2), #detali > div:nth-child(3) {
        border-bottom: 0px red solid;
    }

    #detali .col-sm {
        font-weight: bold;
        font-size: 20px;
        color: #bd1323 !important;
    }

    .btn-outline-danger {
        color: white;
        background-color: #FF5A5A;
    }
</style>


<div id="content">
    <h4 class="display-4 text-center">Details about the airplane:</h4>
    <h4 class="display-4 text-center"><ins><b>@Model.Code</b></ins></h4>
    <hr />

    <div class="row">
        <div id="detali" class="col-sm-7 mr-auto ml-auto">
            <div class="row">
                <div class="col-sm-4">@Html.DisplayNameFor(model => model.Code)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.Code)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">@Html.DisplayNameFor(model => model.NumOfSeats)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.NumOfSeats)
                </div>
            </div>
             <div class="row">
      
                 <div class="btn-group mr-2 btn-block" role="group" aria-label="First group">
                     @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-outline-danger" })
                     @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })
                 </div>
            </div>
        </div>
    </div>
        
 </div>

