@model IT_Airlines.Models.Entities.Airplane

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/css_Airplanes/Airplanes_details.css")

<div id="content">
    <h4 class="display-4 text-center">Details about the airplane:</h4>
    <h4 class="display-4 text-center"><ins><b>@Model.Code</b></ins></h4>
    <hr />

    <div class="row">
        <div id="detali" class="col-sm-7 mr-auto ml-auto">
            <div class="row">
                <div class="col-sm-4">@Html.DisplayNameFor(model => model.Code)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.Code)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">@Html.DisplayNameFor(model => model.NumOfSeats)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.NumOfSeats)
                </div>
            </div>
            <div class="row">

                <div class="btn-group mr-2 btn-block" role="group" aria-label="First group">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-outline-danger" })
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })
                    }

                </div>
            </div>
        </div>
    </div>

</div>

