@model IEnumerable<IT_Airlines.Models.Entities.Airport>

@{
    ViewBag.Title = "Index";
}

<style>

    body {
        background: url("../../Img/log-sign-in.jpg") no-repeat center center fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #content {
        width: 100%;
        background-color: white;
        opacity: 0.9;
        border-radius: 10px;
        padding: 5%;
    }

    .flightRow {
        background-color: lightgray;
        padding: 15px;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 30px;
        /*shadow*/
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #888888;
    }

    #tabelaDiv {
        padding: 15px;
    }

    .btn-outline-danger {
        color: white;
        background-color: #FF5A5A;
    }

    #content .col-md-3, #content .col-sm-3 {
        border-left: 2px red solid;
    }

        #content .col-sm-3:nth-child(1), #content .col-md-3:nth-child(1) {
            border-left: 0px;
        }
</style>

<div id="content">

    <div class="row mb-2">
        <div class="col-4"></div>
        <div class="col-4">
            @Html.ActionLink("Create new airport", "Create", null, new { @class = " btn btn-block btn-danger" })
        </div>
        <div class="col-4"></div>
    </div>


    <div id="tabelaDiv" class="row text-danger text-center">
        <div class="col-sm-3">
            <b> @Html.DisplayNameFor(model => model.Code)</b>
        </div>
        <div class="col-sm-3">
            <b> @Html.DisplayNameFor(model => model.Name)</b>
        </div>
        <div class="col-sm-3">
            <b>  @Html.DisplayNameFor(model => model.City)</b>
        </div>
    </div>


    @foreach (var item in Model)
    {
        <div class="flightRow text-center" id="row-@item.Id">
            <div class="row">
                <div class="col-sm-4 col-md-3 mb-2 mt-2">
                    @Html.DisplayFor(modelItem => item.Code)
                </div>
                <div class="col-sm-4 col-md-3 mb-2 mt-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="col-sm-4 col-md-3 mb-2 mt-2">
                    @Html.DisplayFor(modelItem => item.City)
                </div>
                <div class="col-sm-12 col-lg-3 mb-2 mt-2">
                    <div class="btn-group mr-2 btn-block" role="group" aria-label="First group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                        <button class="btn btn-outline-danger js-delete" attr-id="@item.Id">Delete</button>

                    </div>
                </div>
            </div>
        </div>
    }
</div>



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
/*            bootbox.alert("jQuery and Bootbox are working");*/

            $("button.js-delete").click(function (e) {
                e.preventDefault();
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this airplane?", function (answer) {
                    if (answer) {
                        var id = button.attr("attr-id");

                        var url = "/Airports/Delete/" + id;

/*                        bootbox.alert(url);*/
                        $.ajax({
                            url: url,
                            method: "POST",
                            success: function () {
                                $('#row-' + id).hide();
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        });
                    }
                })
                e.preventDefault();

            });
        });
    </script>
}