@using IT_Airlines.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}



<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">

        <div id="card" class="card">
            <article class="card-body">
                <a href='@Url.Action("Register","Account")' class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {  role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                 
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <a class="float-right" href='@Url.Action("ForgotPassword","Account")'>Forgot?</a>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "******" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                 @Html.CheckBoxFor(m => m.RememberMe)
                                 @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                        <div class="form-group">
                                <input type="submit" value="Log in" class="btn btn-danger btn-block" />
                        </div>
                    }
                </section>
            </article>

           

        </div>
        
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>


<style>

    body {
        background: url("../../Img/log-sign-in.jpg") no-repeat center center fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #card{
        opacity: 0.85;
        padding: 20px;
    }

</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}