@model IT_Airlines.Models.Entities.Reservation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundTrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundTrip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
