@model IT_Airlines.Models.Entities.Reservation

@{
    ViewBag.Title = "Details";
}

<style>
    body {
        background: url("../../Img/log-sign-in.jpg") no-repeat center center fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #content {
        width: 100%;
        background-color: white;
        opacity: 0.9;
        border-radius: 5px;
        padding: 5%;
    }

    #detali .col-sm-4 {
        border-right: 1px gray solid;
    }

    #detali .row {
        border-bottom: 1px red solid;
        padding: 10px;
    }

    #detali > div:nth-child(8), #detali > div:nth-child(9) {
        border-bottom: 0px red solid;
    }

    #detali .col-sm {
        font-weight: bold;
        font-size: 20px;
        color: #bd1323 !important;
    }

    #detali .btn-link, #detali a {
        font-weight: bold;
        text-decoration: underline;
        font-size: 20px;
        color: #bd1323 !important;
    }

    .modal-body .col-sm-4 {
        text-align: right;
    }

    .modal .col-sm {
        font-weight: bold;
        font-size: 20px;
        color: #bd1323 !important;
    }

    #detailsForPassenger .col-sm-3 {
        font-weight: normal;
        font-size: 14px;
        color: black;
    }

    .btn-outline-danger {
        color: white;
        background-color: #FF5A5A;
    }
</style>

<div id="content">
    <h4 class="display-4 text-center">Details about the reservation of:</h4><br>
    <h1 class="display-4 text-center"><ins><b>@Model.Passenger</b></ins></h1>
    <br>
    <br>
    <div class="row">

        <div id="detali" class="col-sm-7 mr-auto ml-auto">

            @* Email na patnikot *@
            <div class="row">
                <div class="col-sm-4"> @Html.DisplayNameFor(model => model.AccountEmail)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.AccountEmail)
                </div>
            </div>

            @* Imeto na patnikot *@
            <div class="row">
                <div class="col-sm-4"> @Html.DisplayNameFor(model => model.Passenger)</div>
                <div class="col-sm">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalPassenger">
                        @Model.Passenger.FirstName @Model.Passenger.LastName
                    </button>
                </div>
            </div>

            @* Detali za prviot let *@
            <div class="row">
                <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstFlight)</div>
                <div class="col-sm">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalFirstFlight">
                        @Model.FirstFlight.AirportFrom.City - @Model.FirstFlight.AirportTo.City, @Model.FirstFlight.Departure
                    </button>


                    @*@Html.ActionLink(Model.FirstFlight.AirportFrom.City + " - " + Model.FirstFlight.AirportTo.City + ", " + Model.FirstFlight.Departure, "Details", "Flights", new { id = @Model.FirstFlight.Id }, null)*@

                </div>
            </div>

            @* Detali za vtoriot let dokolku postoi *@
            @if (Model.SecondFlight != null)
            {
                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondFlight)</div>
                    <div class="col-sm">

                        @Html.ActionLink(Model.SecondFlight.AirportFrom.City + " - " + Model.SecondFlight.AirportTo.City + ", " + Model.SecondFlight.Departure, "Details", "Flights", new { id = @Model.SecondFlight.Id }, null)
                    </div>
                </div>
            }


            <div class="row">
                <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstLuggage)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.FirstLuggage.MaximumWeight)kg,
                    @Html.DisplayFor(model => model.FirstLuggage.Price)$
                </div>
            </div>

            @if (Model.SecondLuggage != null)
            {
                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondLuggage)</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.SecondLuggage.MaximumWeight)kg
                        @Html.DisplayFor(model => model.SecondLuggage.Price)$
                    </div>
                </div>
            }


            <br>
            <br>
        </div>

    </div>
    <div class="col-sm-7 mr-auto ml-auto">
        <div class="row">
            <div class="btn-group mr-2 btn-block" role="group" aria-label="First group">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-danger" })
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })
            </div>
        </div>
    </div>
</div>


<!-- Modal passenger-->
<div class="modal fade" id="modalPassenger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details about @Model.Passenger.FirstName @Model.Passenger.LastName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @* Kako da izgleda teloto na modalniot dialog *@
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">First name:</div>
                    <div class="col-sm">@Model.Passenger.FirstName</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Last name:</div>
                    <div class="col-sm">@Model.Passenger.LastName</div>
                </div>

                <div class="row">
                    <div class="col-sm-4">Gender:</div>
                    <div class="col-sm">@Model.Passenger.Gender</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Birth date:</div>
                    <div class="col-sm">@Model.Passenger.BirthDate</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">Passport:</div>
                    <div class="col-sm">@Model.Passenger.PassportCode</div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal first flight-->
<div class="modal fade" id="modalFirstFlight" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details about the first flight</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @* Kako da izgleda teloto na modalniot dialog *@
            <div class="modal-body">


                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstFlight.Airplane):</div>
                    <div class="col-sm">
                        @Model.FirstFlight.Airplane.Code
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstFlight.AirportFrom):</div>
                    <div class="col-sm">
                        @Model.FirstFlight.AirportFrom.Name, @Model.FirstFlight.AirportFrom.Code
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstFlight.Departure):</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.FirstFlight.Departure)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstFlight.AirportTo):</div>
                    <div class="col-sm">
                        @Model.FirstFlight.AirportTo.Name, @Model.FirstFlight.AirportTo.Code
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstFlight.Landing):</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.FirstFlight.Landing)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstFlight.BasePrice):</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.FirstFlight.BasePrice)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.FirstFlight.NumOfSeats):</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.FirstFlight.NumOfSeats)
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@if(Model.RoundTrip){
<!-- Modal second flight-->
<div class="modal fade" id="modalFirstFlight" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details about the second flight</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @* Kako da izgleda teloto na modalniot dialog *@
            <div class="modal-body">


                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondFlight.Airplane):</div>
                    <div class="col-sm">
                        @Model.SecondFlight.Airplane.Code
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondFlight.AirportFrom):</div>
                    <div class="col-sm">
                        @Model.SecondFlight.AirportFrom.Name, @Model.SecondFlight.AirportFrom.Code
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondFlight.Departure):</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.SecondFlight.Departure)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondFlight.AirportTo):</div>
                    <div class="col-sm">
                        @Model.SecondFlight.AirportTo.Name, @Model.SecondFlight.AirportTo.Code
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondFlight.Landing):</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.SecondFlight.Landing)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondFlight.BasePrice):</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.SecondFlight.BasePrice)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4"> @Html.DisplayNameFor(model => model.SecondFlight.NumOfSeats):</div>
                    <div class="col-sm">
                        @Html.DisplayFor(model => model.SecondFlight.NumOfSeats)
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-outline-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {
            init();
        });

        function init() {

        }

    </script>

}