@model IT_Airlines.Models.Entities.Flight

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/css_Flights/Flights_details.css")

<div id="content">
    <h4 class="display-4 text-center">Details about the flight:</h4><br>
    <h1 class="display-4 text-center"><ins><b>@Model.AirportFrom.City - @Model.AirportTo.City</b></ins></h1>
    <br>
    <br>

    <div class="row">
        <div id="detali" class="col-sm-7 mr-auto ml-auto">
            <div class="row">
                <div class="col-sm-4"> @Html.DisplayNameFor(model => model.AirportFrom)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.AirportFrom.Name),
                    @Html.DisplayFor(model => model.AirportFrom.City)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">@Html.DisplayNameFor(model => model.AirportTo)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.AirportTo.Name),
                    @Html.DisplayFor(model => model.AirportTo.City)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 "> @Html.DisplayNameFor(model => model.Airplane) </div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.Airplane.Code)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">@Html.DisplayNameFor(model => model.Departure) </div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.Departure)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">@Html.DisplayNameFor(model => model.Landing) </div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.Landing)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">@Html.DisplayNameFor(model => model.NumOfSeats) </div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.NumOfSeats)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 ">  @Html.DisplayNameFor(model => model.NumOfFreeSeats)</div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.NumOfFreeSeats)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 "> @Html.DisplayNameFor(model => model.BasePrice) </div>
                <div class="col-sm">
                    @Html.DisplayFor(model => model.BasePrice)
                </div>
            </div>
            <div class="row">
                <div class="btn-group mr-2 btn-block" role="group" aria-label="First group">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-outline-danger" })
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-danger" })
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <hr />

</div>

