@model IEnumerable<IT_Airlines.Models.Entities.Flight>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/css_Flights/Flights_index.css")

<div id="content">

    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
    {
        <div class="row mb-2">
            <div class="col-4"></div>
            <div class="col-4">
                <a href='@Url.Action("Create","Flights")' class=" btn btn-block btn-danger">Create new flight</a>
            </div>
            <div class="col-4"></div>
        </div>
    }




    <div id="tabelaDiv" class="row text-danger text-center">
        <div class="col-sm-3">
            <b> @Html.DisplayNameFor(model => model.AirportFrom)</b>
        </div>
        <div class="col-sm-3">
            <b> @Html.DisplayNameFor(model => model.AirportTo)</b>
        </div>
        <div class="col-sm-3">
            <b>  @Html.DisplayNameFor(model => model.Departure)</b>
        </div>
        <div class="col-sm-3">
            <b>   @Html.DisplayNameFor(model => model.NumOfFreeSeats)</b>
        </div>
        @*<div class="col-sm-2">
                <b> @Html.DisplayNameFor(model => model.BasePrice)</b>
            </div>*@

    </div>

    @foreach (var item in Model)
    {
        <div class="flightRow text-center" id="row-@item.Id">
            <div class="row">
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.AirportFrom.Name),
                    @Html.DisplayFor(modelItem => item.AirportFrom.City)
                </div>
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.AirportTo.Name),
                    @Html.DisplayFor(modelItem => item.AirportTo.City)
                </div>
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.Departure)
                </div>
                <div class="col-sm-3">
                    @Html.DisplayFor(modelItem => item.NumOfFreeSeats)
                </div>
                @*<div class="col-sm  -2">
                        @Html.DisplayFor(modelItem => item.BasePrice)
                    </div>*@

            </div>
            <div class="row pl-5 pr-5 pt-4">

                <div class="btn-group mr-2 btn-block" role="group" aria-label="First group">
                    <a href='@Url.Action("Details","Flights",  new { id = item.Id })' class=" btn btn-outline-danger">Details</a>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {
                        <a href='@Url.Action("Edit","Flights",  new { id = item.Id })' class=" btn btn-outline-danger">Edit</a>
                        <button class="btn btn-outline-danger js-delete" attr-id="@item.Id">Delete</button>
                    }


                </div>

            </div>
        </div>
    }
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            /*            bootbox.alert("jQuery and Bootbox are working");*/

            $("button.js-delete").click(function (e) {
                e.preventDefault();
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this flight?", function (answer) {
                    if (answer) {
                        var id = button.attr("attr-id");

                        var url = "/Flights/Delete/" + id;

                        /*                        bootbox.alert(url);*/
                        $.ajax({
                            url: url,
                            method: "POST",
                            success: function () {
                                $('#row-' + id).hide();
                            },
                            error: function (error) {
                                console.error(error);
                            }
                        });
                    }
                })
                e.preventDefault();

            });
        });
    </script>
}